<h1>Trasections Index Page</h1>


<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Buyer Name</th>
      <th>Plan Name</th>
      <th>Plan Fee</th>
      <th>Feature Over Used</th>
      <th>Total Bill</th>
      <th>Feature Extra Charges</th>
      


      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>


  <tbody>
    
		
	
<%@trasections.each do |tr|%>
	<%if tr.subscription_id!=nil%>

		<%if Integer(params[:subscription_id])==Integer(tr.subscription_id) %>
			<tr>
				<td><%=tr.subscription.buyer.name%></td>
				
				
				<td><%=tr.subscription.plan.name%></td>
				
				<td><%=tr.subscription.plan.fee%></td>
				
				<%if tr.feature_id !=nil%>
					<td><%=tr.feature.name%></td>
					<td> <%= tr.amount + tr.subscription.plan.fee%></td>
					<td><%=tr.feature.price %></td>
				<%else%>
					<td><%='nil'%></td>	
					<td> <%=tr.amount%></td>
					<td><%='nil'%></td>	
					
				<%end%>
				
				

				
				
			</tr>
		<%end%>
	<%end%>

<%end%>
		

  
  </tbody>
</table>